@using AdminMnsV1.Models;@*  // Pour CardModel, User, Student, Class *@
@using AdminMnsV1.Models.ViewModels; @* // IMPORTANT : Pour ClassListViewModel et ClassWithStudentsViewModel *@


@{
	ViewData["Title"] = "Classes";
}

<h1 class="mt-5 mx-4">Classes</h1>
<div class="cardBox">
	@* Ici, vous bouclez sur la liste des classes (chaque élément étant un ClassWithStudentsViewModel) *@
	@for (var i = 0; i < Model.ClassesWithStudents.Count; i++)
	{
		var classItem = Model.ClassesWithStudents[i];
		var card = classItem.ClassCard; 
		@* Accédez à la CardModel spécifique pour cette classe *@
		<div class="cards" onclick="openTab(@i)" border-0>
			<div>
				<div class="cardNumber">@card.Number</div>
				<div class="cardName">@card.Title</div>
			</div>
			<div class="iconCard">
				<img width="60" height="60" src="@card.IconUrl" alt="@card.AltText" />
			</div>
		</div>
	}
</div>

<div class="tabsContentOnglet m-5">
	@* Vous re-bouclez sur la même liste pour afficher les tableaux d'élèves *@
	@for (var i = 0; i < Model.ClassesWithStudents.Count; i++)
	{
		var classItem = Model.ClassesWithStudents[i];
		var card = classItem.ClassCard; @* Accédez à la CardModel pour le titre de la classe *@
		<div class="tabContent m-3" id="tabContent-@i">
			<h2>Eleves de la classe: @card.Title</h2>
			<div class="tableauClass p-3 ">
				<table class="table-container table align-middle table-striped table-hover table-custom text-center"
					   id="tableContainer-@i">
					<thead>
						<tr>
							<th scope="col">Photo</th>
							<th scope="col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col" class="d-none d-sm-table-cell">Classe</th>
							<th scope="col" class="d-none d-sm-table-cell">Email</th>
							<th scope="col" class="d-none d-sm-table-cell">Ville</th>
							<th scope="col" class="d-none d-sm-table-cell">Date Inscription</th>
						</tr>
					</thead>
					<tbody>
						@* ET MAINTENANT : Vous bouclez sur la liste d'élèves spécifique à CETTE classe *@
						@foreach (var student in classItem.StudentsInClass)
						{
							<tr>

								<td><img src="~/images/Profiles/@student.Photo" alt="@student.FirstName @student.LastName" width="50" height="50" style="border-radius: 50%;"></td>
								<td>@student.LastName</td> @* Utilisez les données réelles de l'élève *@
								<td>@student.FirstName</td> @* Utilisez les données réelles de l'élève *@
								<td class="d-none d-sm-table-cell">@card.Title</td> @* La classe est celle de la carte courante *@
								<td class="d-none d-sm-table-cell">@student.Email</td>
								<td class="d-none d-sm-table-cell">@student.City</td> @* Utilisez les données réelles de l'élève *@
								<td class="d-none d-sm-table-cell">@(student.CreationDate?.ToString("yyyy-MM-dd") ?? "N/A")</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}
</div>

@Html.Partial("~/Views/Shared/Components/_Footer.cshtml")