@model IEnumerable<AdminMnsV1.Models.CardModel>
@{
	ViewData["Title"] = "Class";
}

<h1 class="mt-5 mx-4">Classes</h1>
<div class="cardBox">
	@for (var i = 0; i < Model.Count(); i++)
	{
		var card = Model.ElementAt(i);
		<div class="cards" onclick="openTab(@i)" border-0">
			<div>
				<div class="cardNumber">@card.Number</div>
				<div class="cardName">@card.Title</div>
			</div>
			<div class="iconCard">
				<img width="60" height="60" src="@card.IconUrl" alt="@card.AltText" />
			</div>
		</div>
	}
</div>

<div class="tabsContentOnglet m-5">
	@for (var i = 0; i < Model.Count(); i++)
	{
		var card = Model.ElementAt(i);
		<div class="tabContent m-3" id="tabContent-@i">
			<h2 >Eleves de la classe:  @card.Title</h2>
			<div class="tableauClass p-3 ">
				<table class="table-container table align-middle table-striped table-hover table-custom"
					   id="tableContainer-@i">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom</th>
							<th scope="col">Prénom</th>
							<th scope="col" class="d-none d-sm-table-cell">Classe</th>
							<th scope="col" class="d-none d-sm-table-cell">Ville</th>
							<th scope="col" class="d-none d-sm-table-cell">Date Inscription</th>
							<th scope="col">Statuts</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Nom Eleve 1</td>
							<td>Prénom Eleve 1</td>
							<td class="d-none d-sm-table-cell">@card.Title</td>
							<td class="d-none d-sm-table-cell">Ville Eleve 1</td>
							<td class="d-none d-sm-table-cell">2024-01-15</td>
							<td>Actif</td>

						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Nom Eleve 2</td>
							<td>Prénom Eleve 2</td>
							<td class="d-none d-sm-table-cell">@card.Title</td>
							<td class="d-none d-sm-table-cell">Ville Eleve 2</td>
							<td class="d-none d-sm-table-cell">2024-02-20</td>
							<td>Inactif</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	}
</div>




<!-- TABLEAU APPARITION JS -->


<!-- =======================FOOTER================ -->
@Html.Partial("~/Views/Shared/Components/_Footer.cshtml")


