@using AdminMnsV1.Models.Experts
@model IEnumerable<ExpertEditViewModel>


@{
	ViewData["Title"] = "Expert";
}

@* LEs messages de succes et d'erreur des modifications' *@
@if (TempData["SuccesMessage"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		@TempData["SuccesMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

@if (TempData["ErreurMessage"] != null)
{
	<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
		@TempData["ErreurMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}



<div class="tableProfesseurs">
	<h1 class="mt-5">Intervenants</h1>
	<div class="btnNewStudent">
		<a href="@Url.Action("FormulaireExpert","Formulaires")" class="btn btn-outline-warning">
			Nouveau Intervenant
		</a>
	</div>


	<!-- TABLEAU INTERVENANTS -->
	<table class="table align-middle table-striped table-hover table-custom bg-secondary table-responsive">
		<thead>
			<tr class="">
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Spécialité</th>
				<th scope="col" class="d-none d-sm-table-cell">Ville</th>
				<th scope="col" class="d-none d-sm-table-cell">Date d'inscription</th>
				<th scope="col" colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@item.UserId</th>
					<td>@item.LastName</td>
					<td>@item.FirstName</td>
					<td>@item.Speciality</td>
					<td class="d-none d-sm-table-cell">@item.City</td>
					<td class="d-none d-sm-table-cell">@item.CreationDate</td>

					<td>
						<a href="#" data-bs-toggle="modal" data-bs-target="#modalExpert_@item.UserId">
							<img width="20" height="20"
								 src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
								 alt="visible" />
						</a>
					</td>
					<td>
						<form method="post" action="@Url.Action("DeleteExpertConfirmed", "Experts", new { id = item.UserId })" style="display:inline;">
							<button type="submit" class="btn btn-link text-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet expert ?')">
								<img width="20" height="20"
									 src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
							</button>
						</form>
					</td>
				</tr>



				<div class="modal fade" id="modalExpert_@item.UserId" tabindex="-1" aria-labelledby="modalExpertLabel_@item.UserId"
					 aria-hidden="true">

					<div class="modal-dialog">
						<form method="post" action="@Url.Action("Modify", "Experts")">
							<input type="hidden" name="UserId" value="@item.UserId" />
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalExpertLabel_@item.UserId">Modifier l'intervenant @item.FirstName @item.LastName</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										<label for="LastName_@item.UserId" class="form-label">Nom</label>
										<input type="text" class="form-control" id="LastName_@item.UserId" name="LastName" value="@item.LastName">
									</div>
									<div class="mb-3">
										<label for="FirstName_@item.UserId" class="form-label">Prénom</label>
										<input type="text" class="form-control" id="FirstName_@item.UserId" name="FirstName" value="@item.FirstName">
									</div>
									<div class="mb-3">
										<label for="Sexe" class="form-label">Sexe</label>
										<select class="form-select" id="Sexe" name="Sexe">
											<option value="Male" selected="@(item.Sexe == "Male" ? "selected" : null)">Masculin</option>
											<option value="Female" selected="@(item.Sexe == "Female" ? "selected" : null)">Féminin</option>
										</select>
									</div>

									<div class="mb-3">
										<label for="BirthDate_@item.UserId" class="form-label">Date de naissance</label>
										<input type="date" class="form-control" id="BirthDate_@item.UserId" name="BirthDate"
											   value="@item.BirthDate.ToString("yyyy-MM-dd")">
									</div>

									<div class="mb-3">
										<label for="Address_@item.UserId" class="form-label">Adresse</label>
										<input type="text" class="form-control" id="Address_@item.UserId" name="Address"
											   value="@item.Address">
									</div>
									<div class="mb-3">
										<label for="City_@item.UserId" class="form-label">Ville</label>
										<input type="text" class="form-control" id="City_@item.UserId" name="City" value="@item.City">
									</div>
									<div class="mb-3">
										<label for="Email_@item.UserId" class="form-label">Mail</label>
										<input type="email" class="form-control" id="Email_@item.UserId" name="Email"
											   value="@item.Email">
									</div>
									<div class="mb-3">
										<label for="Phone_@item.UserId" class="form-label">Téléphone</label>
										<input type="tel" class="form-control" id="Phone_@item.UserId" name="Phone"
											   value="@item.Phone">
									</div>

									<div class="mb-3">
										<label for="Speciality_@item.UserId" class="form-label">Spécialités</label>
										<input type="text" class="form-control" id="Speciality_@item.UserId" name="Speciality" value="@item.Speciality">
									</div>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">Enregistrer</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			}
		</tbody>
	</table>

	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>


@Html.Partial("~/Views/Shared/Components/_Footer.cshtml")