@using AdminMnsV1.Models
@* En haut de votre fichier Views/Dashboard/Dashboard.cshtml *@
@model AdminMnsV1.ViewModels.DashboardViewModel


@{
	ViewData["Title"] = "Tableau de Bord Stagiaire";

}


<!-- =====================MAIN TABLEAU=============================== -->
   
    <h1 class="mx-4 mt-5">Bienvenue @Model.LoggedInUser.FirstName @Model.LoggedInUser.LastName !</h1>

    <!-- =====================CARDS=============================== -->

    <div class="cardBox ">
    @foreach (var card in Model.Cards)
    {
        <div class="">
            <a href="@card.Url" class="card-link">
                <div class="cards border-0">
                    <div>
                        <div class="cardNumber">@card.Number</div>
                        <div class="cardName">@card.Title</div>
                    </div>
                    <div class="iconCard">
                        <img width="60" height="60" src="@card.IconUrl" alt="@card.AltText" />
                    </div>
                </div>
            </a>
        </div>
    }
</div>
   

    <!-- =======================GRAPHIQUES STAGIAIRE ABS RETARD================ -->

    <div class="graphs">
        <div class="graphLateAbs border rounded-3 bg-light">
            <div class="title">
                <h4>Total de Retards-Absences</h4>
            </div>
            <div class="chartContainerAbs w-100">
                <canvas id="absencesChart" aria-label="chart" role="img"></canvas>
            </div>
        </div>
        <div class="progressFiles p-3 border rounded-3 bg-light">
            <h4>Progression du dossier</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam earum asperiores vel vitae facere delectus fuga amet atque blanditiis hic, assumenda officia tempora omnis rerum magni ipsam quos eaque molestias!</p>

        </div>
    </div>


    <!-- =======================FOOTER================ -->
    <hr>
    <footer class="footer">
        <div class="linkFooter ">
            <ul>
                <li><a href="">Politique de confidentialité</a></li>
                <li><a href="">Parametre</a></li>
                <li><a href="">Contacter Nous</a></li>

            </ul>
            <p class="text-center">&copy 2025 Metz Numeric School</p>
        </div>
    </footer>
