@model IEnumerable<AdminMnsV1.Models.StudentEditViewModel>

@{
	ViewData["Title"] = "Student";
}

<!-- TABLEAU STUDENTS -->
<div class="studentTable">
	<h1 class="mt-5">Stagiaires</h1>

	<div class="btnNewStudent">
		<a href="@Url.Action("Formulaire","Formulaires")" class="btn btn-outline-warning">
			<img width="20" height="20" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus icon" class="me-2" />
			Nouveau Stagiaire
		</a>
	</div>

	<table class="table align-middle table-striped table-hover table-custom bg-secondary table-responsive">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Classe</th>
				<th scope="col" class="d-none d-md-table-cell">Ville</th>
				<th scope="col" class="d-none d-md-table-cell">Date Inscription</th>
				<th scope="col" class="d-none d-md-table-cell">Role</th>
				<th scope="col" colspan="2">Action</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@item.UserId</th>
					<td>@item.LastName</td>
					<td>@item.FirstName</td>
					<td>ville</td>
					<td>@item.City</td>
					<td>@item.CreationDate</td>
					<td>@item.Role</td>
					<td>
						<a href="#" data-bs-toggle="modal" data-bs-target="#modalStagiaire_@item.UserId">
							<img width="20" height="20"
								 src="https://img.icons8.com/fluency-systems-filled/48/visible.png"
								 alt="visible" />
						</a>
					</td>
					<td>
						<a href="">
							<img width="20" height="20"
								 src="https://img.icons8.com/ios-filled/50/waste.png" alt="waste" />
						</a>
					</td>
				</tr>

				<!-- Modal -->
                <div class="modal fade" id="modalStagiaire_@item.UserId" tabindex="-1" aria-labelledby="modalStagiaireLabel_@item.UserId"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="post" action="/Students/Modify">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalStagiaireLabel_@item.UserId">Modifier @item.FirstName @item.LastName</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="UserId" value="@item.UserId" /> 

                                    <div class="mb-3">
                                        <label for="LastName" class="form-label">Nom</label>
                                        <input type="text" class="form-control" id="LastName" name="LastName" value="@item.LastName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="FirstName" class="form-label">Prénom</label>
                                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@item.FirstName">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Sexe" class="form-label">Sexe</label>
                                        <select class="form-select" id="Sexe" name="Sexe">
                                            <option value="Male" selected="@(item.Sexe == "Male" ? "selected" : null)">Masculin</option>
                                            <option value="Female" selected="@(item.Sexe == "Female" ? "selected" : null)">Féminin</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="BirthDate" class="form-label">Date de naissance</label>
                                        <input type="date" class="form-control" id="BirthDate" name="BirthDate"
                                               value="@item.BirthDate.ToString("yyyy-MM-dd")">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Nationality" class="form-label">Nationalité</label>
                                        <input type="text" class="form-control" id="Nationality" name="Nationality"
                                               value="@item.Nationality">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Address" class="form-label">Adresse</label>
                                        <input type="text" class="form-control" id="Address" name="Address"
                                               value="@item.Address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="City" class="form-label">Ville</label>
                                        <input type="text" class="form-control" id="City" name="City"
                                               value="@item.City">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email"
                                               value="@item.Email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="Phone" class="form-label">Téléphone</label>
                                        <input type="tel" class="form-control" id="Phone" name="Phone"
                                               value="@item.Phone">
                                    </div>
                                @*    <div class="mb-3">
                                        <label for="CreationDate" class="form-label">Date création dossier</label>
                                        <input type="date" class="form-control" id="CreationDate" name="CreationDate"
                                               value="@item.CreationDate.ToString("yyyy-MM-dd")">
                                    </div> *@
                                    <div class="mb-3">
                                        <label for="Role" class="form-label">Role</label>
                                        <select class="form-select" id="Role" name="Role">
                                            <option value="Candidat" selected="@(item.Role == "Candidat" ? "selected" : null)">Candidat</option>
                                            <option value="Stagiaire" selected="@(item.Role == "Stagiaire" ? "selected" : null)">Stagiaire</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="SocialSecurityNumber" class="form-label">N° Sécurité Sociale</label>
                                        <input type="text" class="form-control" id="SocialSecurityNumber" name="SocialSecurityNumber"
                                               value="@item.SocialSecurityNumber">
                                    </div>
                                    <div class="mb-3">
                                        <label for="FranceTravailNumber" class="form-label">N° France Travail</label>
                                        <input type="text" class="form-control" id="FranceTravailNumber"
                                               name="FranceTravailNumber" value="@item.FranceTravailNumber">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Annuler
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

			}
			</tbody>
	</table>


	<!-- PAGINATION -->
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>





</div>
}

<!-- =======================FOOTER================ -->
@Html.Partial("~/Views/Shared/Components/_Footer.cshtml")

